%h1 New Enrollment
-# = render 'form', user: @user, enrollment: @enrollment

= form_tag course_enrollments_path(@course) do
  = submit_tag "buy now!!"

= link_to 'Back', :back, class: 'btn btn-outline-dark'
