.card
  .card-header
    %strong Title:
    = @course.title
  .card-body
    %blockquote.blockquote.mb-0
      %strong Description:
      = @course.description
      .card-btn.text-end
        = link_to 'Edit', edit_course_path(@course), class: 'btn btn-outline-success m-3'
= link_to 'Back', courses_path, class: 'btn btn-outline-dark m-3'
